<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSrvlt</servlet-name>
        <servlet-class>CMTServlets.LoginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreateProjectForm</servlet-name>
        <servlet-class>CMTServlets.LoadCreateProjectForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSrvlt</servlet-name>
        <servlet-class>CMTServlets.LogoutSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProjectSrvlt</servlet-name>
        <servlet-class>CMTServlets.EditProjectSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectSrvlt</servlet-name>
        <servlet-class>CMTServlets.UpdateProjectSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewProject</servlet-name>
        <servlet-class>CMTServlets.InsertNewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjectSrvlt</servlet-name>
        <servlet-class>CMTServlets.ViewProjectSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSrvlt</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectSrvlt</servlet-name>
        <url-pattern>/ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreateProjectForm</servlet-name>
        <url-pattern>/LoadCreateProjectForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSrvlt</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProjectSrvlt</servlet-name>
        <url-pattern>/EditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectSrvlt</servlet-name>
        <url-pattern>/UpdateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewProject</servlet-name>
        <url-pattern>/InsertNewProject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
