<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSrvlt</servlet-name>
        <servlet-class>CMTServlets.LoginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreateProjectForm</servlet-name>
        <servlet-class>CMTServlets.LoadCreateProjectForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSrvlt</servlet-name>
        <servlet-class>CMTServlets.LogoutSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProjectSrvlt</servlet-name>
        <servlet-class>CMTServlets.EditProjectSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectSrvlt</servlet-name>
        <servlet-class>CMTServlets.UpdateProjectSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewProject</servlet-name>
        <servlet-class>CMTServlets.InsertNewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjectSrvlt</servlet-name>
        <servlet-class>CMTServlets.ViewProjectSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProject</servlet-name>
        <servlet-class>CMTServlets.DeleteProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProjectDetails</servlet-name>
        <servlet-class>CMTServlets.LoadProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProjectBudget</servlet-name>
        <servlet-class>CMTServlets.LoadProjectBudget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectPlanningSrvlt</servlet-name>
        <servlet-class>CMTServlets.ProjectPlanningSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreateEmployeeForm</servlet-name>
        <servlet-class>CMTServlets.LoadCreateEmployeeForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeSrvlt</servlet-name>
        <servlet-class>CMTServlets.EditEmployeeSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeSrvlt</servlet-name>
        <servlet-class>CMTServlets.UpdateEmployeeSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewEmployee</servlet-name>
        <servlet-class>CMTServlets.InsertNewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeSrvlt</servlet-name>
        <servlet-class>CMTServlets.ViewEmployeeSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>CMTServlets.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEmployeeDetails</servlet-name>
        <servlet-class>CMTServlets.LoadEmployeeDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlanningSrvlt</servlet-name>
        <servlet-class>CMTServlets.UpdatePlanningSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectPlanningHoursSrvlt</servlet-name>
        <servlet-class>CMTServlets.ProjectPlanningHoursSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectPlanningCostSrvlt</servlet-name>
        <servlet-class>CMTServlets.ProjectPlanningCostSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectResourcesSrvlt</servlet-name>
        <servlet-class>CMTServlets.ProjectResourcesSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectMonitoringSrvlt</servlet-name>
        <servlet-class>CMTServlets.ProjectMonitoringSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResourcesSrvlt</servlet-name>
        <servlet-class>CMTServlets.UpdateResourcesSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBudget</servlet-name>
        <servlet-class>CMTServlets.DeleteBudget</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateBudgetSrvlt</servlet-name>
        <servlet-class>CMTServlets.UpdateBudgetSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSrvlt</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectSrvlt</servlet-name>
        <url-pattern>/ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreateProjectForm</servlet-name>
        <url-pattern>/LoadCreateProjectForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSrvlt</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProjectSrvlt</servlet-name>
        <url-pattern>/EditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectSrvlt</servlet-name>
        <url-pattern>/UpdateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewProject</servlet-name>
        <url-pattern>/InsertNewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectSrvlt</servlet-name>
        <url-pattern>/ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProject</servlet-name>
        <url-pattern>/DeleteProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProjectDetails</servlet-name>
        <url-pattern>/LoadProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeSrvlt</servlet-name>
        <url-pattern>/ViewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreateEmployeeForm</servlet-name>
        <url-pattern>/LoadCreateEmployeeForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeSrvlt</servlet-name>
        <url-pattern>/EditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeSrvlt</servlet-name>
        <url-pattern>/UpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewEmployee</servlet-name>
        <url-pattern>/InsertNewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/DeleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEmployeeDetails</servlet-name>
        <url-pattern>/LoadEmployeeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProjectBudget</servlet-name>
        <url-pattern>/LoadProjectBudget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectPlanningSrvlt</servlet-name>
        <url-pattern>/ProjectPlanning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlanningSrvlt</servlet-name>
        <url-pattern>/UpdatePlanning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectPlanningHoursSrvlt</servlet-name>
        <url-pattern>/ProjectPlanningHours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectPlanningCostSrvlt</servlet-name>
        <url-pattern>/ProjectPlanningCost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBudget</servlet-name>
        <url-pattern>/DeleteBudget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBudgetSrvlt</servlet-name>
        <url-pattern>/UpdateBudgetSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectResourcesSrvlt</servlet-name>
        <url-pattern>/ProjectResources</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectMonitoringSrvlt</servlet-name>
        <url-pattern>/ProjectMonitoring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResourcesSrvlt</servlet-name>
        <url-pattern>/UpdateResources</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
